@(message: String)

@main("Welcome to Play") {
<div class="container">
<div class="row">
<div class="col-xs-3">
<H1>Menu</H1>
<form class="form-horizontal" role="form" method="POST" action="/search">
 <div class="form-group">
   <label for="t-title" class="control-label">タイトル:</label>
   <input type="text" id="t-title" class="form-control" name="t-title">
 </div> <!-- form-group -->
 <div class="form-group">
   <label for="abstract" class="control-label">概要:</label>
   <input type="text" id="abstract" class="form-control" name="abstract">
 </div> <!-- form-group -->
 <div class="form-group">
   <label for="header1" class="control-label">列キー:</label>
   <input type="text" id="header1" class="form-control" name="header1">
   <label for="header2" class="control-label">行キー:</label>
   <input type="text" id="header2" class="form-control" name="header2">
   <select name="city" id="city" class="form-control">
   <option value="">↑入力</option>
   <option value="city">市町村</option>
   <option value="pref">都道府県</option>
   </select>
 </div> <!-- form-group -->
 <div class="form-group">
    <button type="submit" class="btn btn-default">検索</button>
 </div> <!-- form-group -->
</form>
</div> <!-- col-xs-3 -->
<div class="col-xs-9">
<H1>@message</H1>
</div> <!-- col-xs-9 -->
</div> <!-- row -->
</div> <!-- container -->
}
